.post-header {
    text-align: center;
    color: #f7e5c3;
}

.main {
    display: grid;
    place-items: center;
    margin: 10px;
}

.form-container {
    background-color: #dab59c;
    width: 500px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 5px solid #d8cfdc;
    place-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-container  .input-info{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPost{
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.details{
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    width: 230px;
}

input[type="file"] {
    margin-left: 35%;
    margin-top: 10px;
  }

.post-btn {
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #8e8785;
    color: #f7e5c3;
    border: 2px solid #d8cfdc;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 873ms;
    transform: translateY(0);
}

.post-btn:hover {
    background-color: #f8e5c5;
    color: #1f1b1d;
    transition: .3s;
    border: 2px solid #d8cfdc;
    transition: 873ms;
    padding: 8px 20px;
    transform: translateY(-0px);
}