.search-logo {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-header {
    text-align: center;
    margin-top: 20px;
    color: #d3cbd9;
}

.paragraph {
    text-align: center;
    font-size: x-large;
    color: #f8e5c5;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.search-label {
    text-align: center;
}

.search-input {
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* brands list */
.brands {
    margin-left: 30px;
    color: #f7e4c3;
}

.tag_list {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #d3cbd9;
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tag {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: #f7e4c3;
}

/* Card */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: 15px;
}

.card {
    width: 90%;
    margin: 10px;
    padding: 10px;
    background-color: #dab59c;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.brand-name {
    color: #784b3d;
    text-transform: capitalize
}

.brand-image {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: scale-down;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-name {
    color: #784b3d;
    padding-top: 10px;
}

.category {
    color: #201b1d;
    text-transform: capitalize;
    margin-top: 3px;
}

.product-link {
    color: #794b3d;
    margin-bottom: 10px;
}

.product-link:hover {
    color: #f7e4c3;
}

/* .readMore {
    padding: 3px;
    border-radius: 10px;
} */

.favList {
    border-radius: 10px;
    background-color: #d3cbd9;
    color: #794b3d;
    border: 2px solid #794b3d;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
}

.favList:hover {
    color: #dab59c;
    background-color: #794b3d;
    border: 2px solid #dab59c;
    transition: .3s;
    cursor: pointer;
}