.spotlight-brand {
  text-align: center;
}

.spotlight-info {
  text-align: center;
}

.spotlight-img {
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }