* {
  margin: 0;
  padding: 0;
  font-family: 'Hedvig Letters Sans', sans-serif;
}

body {
  background-color: #bb8565;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* color palette */
/* {
tan color: #dab59c;
black color: #201b1d;
light brown  color: #a2745c;
bark brown color: #784b3d;
dark tan color: #bb8565;
gray brown color: #875f42;
purple color: #d3cbda;
gray color: #8e8783;
cream color: #f7e5c3;
} */