* {
  font-family: 'Hedvig Letters Sans', sans-serif;
  color: #000;
}

body {
  background: #f4c4f3;  
  background: -webkit-linear-gradient(to top, #fc67fa, #f4c4f3);  
  background: linear-gradient(to top, #fc67fa, #f4c4f3); 
}

.main-header {
  margin-top: 30px;
  padding-bottom: 5px;
}

