.active {
  color: #79493d;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #1f1b1d;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding-top: 50px;
  font-size: 20px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  padding: 4px;
}

nav ul li a:not(.active):hover {
  color: #8e8785;
}

a {
  color: #f8e5c5;
  transition: 0.3s;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.user-name {
  color: #fff;
}

@media (max-width: 767px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: row;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: #1f1b1d;
    z-index: 1;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    padding-top: 10px;
  }
}
